<% provide(:title, 'Working list') %>

<h1>出勤社員一覧</h1>
<table class="table table-bordered table-condensed table-hover" id=" attend-table">
<thead>
    <tr>
      <td>社員番号</td>
      <td>名前</td>
    </tr>
</thead>