<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <div class="row">
    <% @users.each do |user| %>
        <p><%= user.name %></p>
        <p>⬛️
        <%= link_to "削除", user, method: :delete,
          data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
        </P>
     <div class="well well-sm"> <!--.wellクラスは、灰色の背景色と少々のパディングを持ち、要素の周りに丸みのある境界線を追加-->
       <div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#demo">編集</button>
          <div id="demo" class="collapse">
Bootstrapは、モバイルファーストウェブサイトを開発するための最も一般的なHTML、CSS、およびJavaScriptフレームワークです。<br/>
BootstrapはWeb開発のための無料のフロントエンドフレームワークです。<br/>
Bootstrapには、タイポグラフィ、フォーム、ボタン、テーブル、ナビゲーション、モーダル、画像カルーセルなどのJavaScriptテンプレートとオプションのJavaScriptプラグイン用のHTMLおよびCSSベースのデザインテンプレートが含まれています。<br/>
Bootstrapを使用すると、レスポンシブデザインを簡単に作成することができます
          </div>
       </div>
      </div>
    <% end %>
  </div>
</div>
    <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->

<!--次はモーダルウインドウ部分となるパーシャルファイルと、
パーシャルをモーダルウインドウとして表示するためのJavaScriptファイルを作りましょう
$ touch app/views/users/_edit_basic_info.html.erb
$ touch app/views/users/edit_basic_info.js.erb   -->