// Place all the styles related to the Bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.base-table {
  text-align: center;
}

.label-basenew {
  margin-top: 5px;
}

.label-basenew-select {
  margin-top: 10px;
}

.btn-basenew {
  margin-top: 10px;
}


.label-baseedit {
  margin-top: 5px;
}

.label-baseedit-select {
  margin-top: 10px;
}

.btn-baseedit {
  margin-top: 10px;
}