/* ユーザー情報テーブル　*/

.user-table {
  vertical-align: middle;
  text-align: center;
}


/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 勤怠修正ログ画面 */
#attend-edit-table {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 出勤中社員画面 */
#in_attendance_employees-table {
  th {
    vertical-align: middle;
    text-align: center;
    width: 30%;
  }
  tr {
    vertical-align: middle;
    text-align: center;
  }
}

/* 上長勤怠ページ、申請通知お知らせ項目 */
.notice {
  p {
    margin: 0 0 3px;
  }
}

.month-report-form {
  margin-bottom: 5px;
}
